#!/usr/bin/env xdg-open
[Desktop Entry]
Categories=Utility
Comment[en_US]=Write disk image to USB key
Comment=Write disk image to USB key
Comment[ru]=Запись образа диска на USB-накопитель
Exec=/usr/bin/xdg-su -s /usr/bin/rosa-imagewriter %f
GenericName[en_US]=USB key writer
GenericName=USB key writer
GenericName[ru]=Запись образа на USB
Icon=rosa-imagewriter
MimeType=
Name[en_US]=ROSA Imagewriter
Name=ROSA Imagewriter
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
